@charset "UTF-8";
	
	.header {
	  display: flex;
	  justify-content: flex-start;
  	  align-items: center;
	  padding: 0 20px;
	  background: #fff;
	}
	
	.header .logo {
 		 font-size: 24px;
 		 width:200px;
 		 order: -2;
	}
	
	#drawer-check,.back,.drawer-open{
		display:none;
	}
	
	.drawer-content .drawer-list{
		display:flex;
		justify-content: flex-start;
		order: -1;
	}
	
	.drawer-list{
		list-style:none;
	}
	
	.drawer-item{
		width:140px;
	}

	.grid{
		display: flex;
		width:100wh;
		flex-direction:row;
		flex-wrap: wrap;
		row-gap:2px;
	}
	
	.h_img{
	 min-width:100vw;
	 aspect-ratio:16 / 4;
	 flex:2;
	}
	
	
	.column01{
		width:50%;
		background-color: red;
		min-height:calc(100vh/2);
		width:100%;
		flex:1;
	}
	
	.column02{
		width:50%;
		background-color: blue;
		min-height:calc(100vh/3);
		width:100%;
		flex:1;
	}










