@charset "UTF-8";
@import url("normalize.css");
@import url("style0031.css") screen and (max-width: 1000px);
@import url("style0032.css") screen and (min-width: 1000px); 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #fff;
  box-sizing: border-box; 
}

.header .logo {
  font-size: 24px;
}













